html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}

/* General Styling */
::selection {
    background-color: #FFEDA3;
    color: #232323;
}

.clamp-text {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

#button::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

.mini-tumbnail {
    padding: 7px 10px;
    display: inline-block;
    border-radius: 6px;
    background: #FFEDA3;
    color: rgb(0, 0, 0, 0.8);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 2.4px;
}

.text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.96px;
}

.text-center {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.button {
    width: 40%;
    padding: 10px 50px;
    border-radius: 13px;
    background: #39A9CB;
    box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
}

.button:hover {
    background: #FFEDA3;
    color: #232323;
}

/* general Media query untuk breakpoint Desktop*/
@media (min-width: 991px) {
    #hide-nav {
        transition: top 0.3s;
    }

    .nav-lg {
        /* background: rgba(35, 35, 35, 1); */
        background-color: #FFF;
        transition: background-color 0.3s;
        color: white;
        /* margin-top: 10px; */
        /* border-radius: 10px; */
        height: 70px;
    }

    .nav-lg .nav-logo {
        font-family: 'Lily Script One';
        font-size: 30px;
        font-weight: 400;
        color: black;
        margin-top: -7px;
    }

    .nav-lg .nav-list {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
        color: black;
    }

    .nav-lg .nav-list a:hover {
        color: #39A9CB;
    }

    /* Menyembunyikan navbar tablet pada breakpoint Desktop */
    .nav-sm {
        display: none;
    }

    .title-2 {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    .text-2 {
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
    }

    #carouselExampleCaptions .carousel-inner .carousel-item img {
        height: 630px;
    }

    #adventure {
        margin-top: 70px;
    }

    #popup-img img {
        width: 70%;
        border-radius: 10px;
        align-self: center;
    }
}

/* general Media query untuk breakpoint handphone*/
@media (max-width: 992px) {

    /* Menyembunyikan navbar utama pada breakpoint tablet dan handphone*/
    .nav-lg {
        display: none;
    }

    /* Memunculkan navbar khusus untuk breakpoint tablet dan handphone */
    .nav-sm {
        display: block;
    }

    .nav-sm {
        background: white;
        transition: background-color 0.3s;
        color: white;
        transition: background-color 0.3s;
        box-shadow: #000 5px;
    }

    .custom-shadow {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        /* Adjust the values as needed */
    }

    .nav-sm .nav-logo {
        font-family: 'Lily Script One';
        font-size: 24px;
        font-weight: 400;
        color: #000;
    }

    .nav-sm .nav-list {
        margin-top: 2px;
    }

    .nav-sm .nav-list a {
        width: 100%;
        color: black;
        background: #EEEEEE;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 16px;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item img {
        height: 300px;
    }

    #carouselExampleIndicators {
        margin-top: 70px;
    }

    .mini-tumbnail {
        color: rgb(0, 0, 0, 0.8);
        text-align: center;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.4px;
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        /* Tambahkan margin jika diperlukan */
        margin: 0 auto;
        margin-bottom: 1px;
    }

    .title {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;
        margin-top: 7px;
    }

    .text {
        color: #000;
        margin-top: 16px;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    .title-2 {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }

    .text-2 {
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }

    .text-center {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #icon {
        margin-left: 10px;
    }

    .button:hover {
        background: #FFEDA3;
        color: #232323;
    }

    #adventure {
        background-color: rgba(70, 169, 203, 0.1);
        margin-top: 100px;
    }

    .popup-image img {
        width: 80%;
    }

    #popup-img img {
        width: 98%;
        border-radius: 10px;
        align-self: center;
    }
}

@media (max-width: 397px) {
    #tips .card-tips-item {
        flex-direction: column;
    }

    #tips .card-tips-item section {
        margin-top: 15px;
    }

    #tips .card-tips-item .col-4 {
        height: 160px;
        width: 100%;
    }
}

@media (min-width: 397px) {
    #tips .card-tips-item .col-4 {
        height: 140px;
        width: 140px;
    }

    #tips .card-tips-item section {
        margin-top: 15px;
    }
}

/* Carousel style */
#carousel-sm {
    margin-top: 80px;
}

/* Content 4 Style */
.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-height {
    height: 100%;
}

.card-bg {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.card:hover .card-title {
    color: #39A9CB;
    transition: 0.3s;
}

.card-title {
    color: #000;
    font-size: 26px;
    font-weight: 600;
    transition: 0.3s;
}

.card-text {
    margin-top: 15px;
}

.text-arrow {
    opacity: 0;
    transition: 0.3s;
    font-size: 12px;
}

.card:hover .text-arrow {
    opacity: 100;
    color: #39A9CB;
    transition: 0.3s;
}

.arrow-card {
    /* display: none; */
    transition: 0.3s;
    opacity: 0;
}

.card:hover .arrow-card {
    opacity: 100;
    display: block;
    transition: 0.3s;
    transform: translate(5px);
}

#tips {
    /* background-color: rgba(112, 209, 239, 0.16); */
}

#popup-img {
    background-color: rgba(0, 0, 0, 0.7);
    place-items: center;
    height: 100vh;
    margin: 0;
}

#popup-img span {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 60px;
    color: white;
    font-weight: 400;
    /* width: 400px; */
}


/* content 4 */
/* #kultur{
    background-color: rgba(70, 169, 203, 0.1);
} */

/* Footer */
footer {
    background-color: #232323;
    margin-top: 60px;
}