html,
body {
    overflow-x: hidden;
    /* position: relative; */
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #FFEDA3; /* Warna latar belakang saat dipilih */
    color: #232323; /* Warna teks saat dipilih */
}


/* Custom title text */
/* mini tumbnail */
.mini-tumbnail {
    padding: 5px 20px;
    display: inline-block;
    border-radius: 6px;
    background: rgba(255, 237, 163, 0.30);
    color: #FFEDA3;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
}

.title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 2.4px;
}

.text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 0.96px;
}

.button {
    width: 40%;
    padding: 10px 50px;
    border-radius: 13px;
    background: #39A9CB;
    box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
}

.button:hover {
    background: #FFEDA3;
    color: #232323;
}

/* Media query untuk breakpoint Desktop*/
@media (min-width: 768px) {
    .nav-lg {
        background: rgba(35, 35, 35, 0.3);
        transition: background-color 0.3s;
        color: white;
        margin-top: 10px;
        border-radius: 10px;
        height: 60px;
    }

    .nav-lg .nav-logo {
        font-family: 'Lily Script One';
        font-size: 30px;
        font-weight: 400;
        color: white;
        margin-top: -17px;
    }

    .nav-lg .nav-list {
        margin-top: 3px;
        font-size: 16px;
        font-weight: 600;
    }

    .nav-lg .nav-list a:hover {
        color: #FFEDA3;
    }

    /* Menyembunyikan navbar tablet pada breakpoint Desktop */
    .nav-sm {
        display: none;
    }

    #carouselExampleCaptions .carousel-inner .carousel-item img {
        height: 630px;
    }
}

/* Media query untuk breakpoint tablet dan handphone*/
@media (max-width: 768px) {

    /* Menyembunyikan navbar utama pada breakpoint tablet dan handphone*/
    .nav-lg {
        display: none;
    }

    /* Memunculkan navbar khusus untuk breakpoint tablet dan handphone */
    .nav-sm {
        display: block;
    }

    .nav-sm {
        background: white;
        transition: background-color 0.3s;
        color: white;
        transition: background-color 0.3s;
    }

    .nav-sm .nav-logo {
        font-family: 'Lily Script One';
        font-size: 24px;
        font-weight: 400;
        color: #000;
    }

    .nav-sm .nav-list {
        margin-top: 25px;
    }

    .nav-sm .nav-list a {
        width: 100%;
        color: black;
        background: #EEEEEE;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 16px;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item img {
        height: 300px;
    }

    #carouselExampleIndicators {
        margin-top: 70px;
    }

    .mini-tumbnail {
        color: #FFEDA3;
        text-align: center;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.84px;
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        /* Tambahkan margin jika diperlukan */
        margin: 0 auto;
    }


    .title {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;
        margin-top: 7px;
    }

    .text {
        color: #000;
        margin-top: 16px;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    .button:hover {
        background: #FFEDA3;
        color: #232323;
    }
}

/* Carousel */
#carousel-sm {
    margin-top: 80px;
}

/* Content 1 */

/* Content 2 */
#content2 {
    background-color: rgba(57, 169, 203, 0.07);
}

.title-2 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.text-2 {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}